@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* Navbar css */

.navbar {
  font-family: "Playfair Display", serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;

  box-shadow: 0px 8px 6px -6px gray;
  --webkit-box-shadow: 0px 8px 6px -6px gray;
  border-bottom: 0.2px solid gray !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
.shopIcon {
  height: 60px;
}

/* Footer___________ */

.footer {
  color: white;
  padding: 15px;
  background-color: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/* ======================================================
===============page not found css =======================*/

.pnf {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 68, 0);
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

/* ======================================================
===============contact us css =======================*/
.contactus {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-color: #f8f9fd;
  margin: 0;
  padding: 0;
}
.aboutus {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-color: #ffffff;
}
.privacy {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  background-color: #000000;
  color: white;
}
.privacyList li {
  margin-top: 14px;
}

/* single product designing: */
.product-link {
  text-decoration: none;
  color: black !important;
}
